.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  cursor: pointer;
  transition: .3s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}
